body {
    background-color: dodgerblue;
}

.evaluation-radios-group,
.row-container,
.form-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.row-container {
    margin: 0.8em -0.2em;
}

.filter-creation-form,
.filter-creation-starter {
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: max-content;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 3em;
}

.filter-creation-form {
    position: relative;
    overflow-y: auto;
    height: 400px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    /*transition: opacity 0.3s ease;*/
}

.modal .filter-creation-form {
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.7);
}

.form-section-header {
    margin-bottom: 0.3em;
    font-size: 1.2em;
    font-weight: bolder;
}

.apply-button {
    margin-left: auto;
    margin-right: 1em;
}

.row-item {
    margin: 0 0.2em;
}

.row-controls {
    margin-left: auto;
}

.form-section {
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal-checkbox-prompt {
    margin-top: 1em;
}

.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}